{% set title = "Création d'une nouvelle recette " %}

{% extends 'base.html.twig' %}

{% block body %}

    <h1> {{ title }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {% endfor %}
    <br>
    <h3>Enregistrer votre recette et ajouter les étapes</h3>
    <div class="w-100 p-3">
        <input type="submit" class="btn btn-dark" value="Ajouter" />
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}