{% extends 'base.html.twig' %}

{% block title %}{{ recette.nom }} description{% endblock %}

{% block body %}

    <h2>{{ recette.nom }}</h2>
    <a href="{{ path('app_recette_update', {'id': recette.id}) }}" class="material-symbols-outlined text-warning">
            edit
        </a>

        <a href="{{ path('app_recette_delete', {'id': recette.id}) }}" class="material-symbols-outlined text-danger">
            delete
        </a>

    <div class="description_recette">
        <h4>Description </h4>
        <dl>
            <div class="description-row">
                <dt>Catégorie</dt>
                <dd>{{ recette.categorie.nom }}</dd>
            </div>
            <div class="description-row">
                <dt>Temps de préparation</dt>
                <dd>{{ recette.heures }}:{{ recette.minutes }}</dd>
            </div>
            <div class="description-row">
                <dt>Nombre de personnes</dt>
                <dd>{{ recette.nbPersonne }}</dd>
            </div>
            <div class="description-row">
                <dt>Difficulté</dt>
                <dd>{{ recette.nivDifficulte }}/5</dd>
            </div>
        </dl>
    </div>

    <div class="conteneur">
        <div class="desc_ingrédients">
            <h4>Ingrédients </h4>
            <ul>
                {% for etape in recette.etapes %}
                    {% for ingredient in etape.ingredients %}
                        <li>{{ ingredient.nom }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>

        <div class="desc_étapes">
            <h4>Étapes </h4>
            <ol>
                {% for etape in recette.etapes %}
                    <li>{{ etape.description }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

{% endblock %}

