{% extends 'base.html.twig' %}

{% set titre = "Création d'un nouveau utilisateur" %}


{% block title %}{{ titre }}{% endblock %}

{% block body %}

    <div class="container-lg">
    <h1>{{titre}}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="w-auto p-3">
        <input type="submit" class="btn btn-dark" value="Ajouter" />
    </div>
    {{ form_end(form) }}
    </div>

{% endblock %}
