{% extends 'base.html.twig' %}

{% set nomPrenom = user.nom | capitalize ~ ' ' ~ user.prenom | capitalize %}

{% block title %}
    Suppression de {{ nomPrenom }}
{% endblock %}

{% block body %}

    <h1>Suppression de {{ nomPrenom }}</h1>

    {{ form_start(form, {'attr': {'class': 'd-flex justify-content-evenly'}}) }}
    {{ form_row(form.delete, {'label': 'Supprimer', 'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_row(form.cancel, {'label': 'Annuler', 'attr': {'class': 'btn btn-secondary'}}) }}
    {{ form_end(form) }}

{% endblock %}


