{% extends 'base.html.twig' %}

{% set nomPrenom = user.nom | capitalize ~ ' ' ~ user.prenom | capitalize %}

{% block title %}Édition de {{ nomPrenom }}{% endblock %}

{% block body %}

    <h1>Édition de {{ nomPrenom }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="w-100 p-3">
        <input type="submit" class="btn btn-primary" value="Modifier" />
    </div>
    {{ form_end(form) }}

{% endblock %}
